DATABASE_URL="mysql://root:password@localhost:3306/mydb?allowPublicKeyRetrieval=true"
DATABASE_USER="username"
DATABASE_PASSWORD="password"
DATABASE_NAME="mydb"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

JWT_ACCESS_SECRET="access_secret"
JWT_REFRESH_SECRET="refresh_secret"